<nav id="menu">
    <h2 class="titleMenu">Scenarium</h2>
    <ul class="d-flex flex-column align-items-center justify-content-between">
        <li class="active"><a href="{{ url( '/game' ) }}">LE JEU</a></li>
        <li>
            <img src="{{ asset('/img/separation_blanc.png') }}" alt="separation" />
        </li>
        <li><a href="{{ url( '/ressources' ) }}">RESSOURCES</a></li>
        <li>
            <img src="{{ asset('/img/separation_blanc.png') }}" alt="separation" />
        </li>
        <li><a href="{{ url( '/conception' ) }}">CONCEPTION</a></li>
        <li>
            <img src="{{ asset('/img/separation_blanc.png') }}" alt="separation" />
        </li>
        <li><a href="{{ url( '/gamedays' ) }}">GAME DAYS</a></li>
        <li>
            <img src="{{ asset('/img/separation_blanc.png') }}" alt="separation" />
        </li>
        <li><a href="{{ url( '/contact' ) }}">NOUS CONTACTER</a></li>
    </ul>
</nav>