<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Scenarium</title>
  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  {% block additional_css %}{% endblock %}
  <link rel="stylesheet" href="{{ asset('/css/app.css') }}" />
  <link rel="stylesheet" href="{{ asset('/css/menu.css') }}" />
  <link rel="stylesheet" href="{{ asset('/css/home.css') }}" />
  <link rel="stylesheet" href="{{ asset('/css/game.css') }}" />
  <link rel="stylesheet" href="{{ asset('/css/ressources.css') }}" />
  <link rel="stylesheet" href="{{ asset('/css/conception.css') }}" />
  <link rel="stylesheet" href="{{ asset('/css/gamedays.css') }}" />
  <link rel="stylesheet" href="{{ asset('/css/contact.css') }}" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Newsreader:wght@200&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet" />
</head>

<body>
  {% block content %}{% endblock %}
  <!-- JS -->
  {% block additional_js %}{% endblock %}
  <script src="{{ asset('/js/app.js') }}"></script>
</body>

</html>